<!-- {% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First_App</title>
</head>
<body>
    <h1>Hello This is index.html</h1>
    {{ insert_me }}
    
</body>
</html> {% endcomment %} -->
<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Guitar Page</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
</head>
<body>
    <h1><em>Hi, this is a picture of Django himself</em></h1>
    <img src="{% static "images/download.jpg" %}" alt="Uh Oh, didn't show!">
</body>
</html> -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Level 2</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
</head>
<body>
    <h1>Hi Welcome to Django level 2!</h1>
    <h2>Here are your access records</h2>

    <div class="djangotwo">

        {% if access_records %}
        <table>
            <thead>
                <th>Site name</th>
                <th>Data Accessed</th>
            </thead>

            {% for acc in access_records %}
            <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <p>NO ACCESS RECORDS FOUND!</p>
        {% endif %}


    </div>
</body>
</html>