h1{
    padding-top: 250px;
    text-align: center;
    color: #2890f7;
    opacity: 0.5;
}
h2{
    text-align: center;
    color: #2890f7;
    opacity: 0.5;
}
h2{
    text-align: center;
    color: #2890f7;
    opacity: 0.5;
}
body{
    background-image:url(wallpaperflare.com_wallpaper.jpg);
}